.profilePage_header {
  background-color: inherit;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 20px;
  max-height: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .avatar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .avatarProfile {
      margin: 0 0 0 3.5em;
      width: 150px;
      height: 150px;
      // background: linear-gradient(to right, #f9c83f, #b31bb5);
      padding: 5px;

      img {
        border-radius: 50%;
      }
    }
  
    button {
      border: 2px solid rgba(var(--d69, 0, 149, 246), 1);
      border-radius: 50px;
      background: transparent;
      color: rgba(var(--d69, 0, 149, 246), 1);
      font-size: 18px;
      font-weight: 600;
      outline: none;
      margin: 1em 0 0 4em;
      text-align: center;
      &:hover {
        box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(var(--d69, 0, 149, 246), 1);
      }
    }
  }

  .profileInfoWrapper {
    margin: 0 0 0 10%;
    max-width: 460px;

    h2 {
      margin-top: 1em;
      margin-left: 6%;
      display: flex;
      justify-content: space-between;
      font-family: inherit;
      font-weight: 400;
      font-size: 21px;
      a {
        color: black;
        margin-right: 3.5em;
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
          border-radius: 4px;
          border: 1px solid #dbdbdb;
          padding: 2px 4px 3px 9px;
          font-family: inherit;
          font-size: 15px;
          margin-right: 11px;
        }
      }

      .follow_button {
        color: rgba(var(--d69, 0, 149, 246), 1);
        font-size: 18px;
        font-weight: 600;
        outline: none;
        border: none;
        background: none;
        text-align: center;
        margin-right: 4em;
      }
    }

    ul {
      padding-top: 1em;
      margin-left: -10%;
      display: flex;
      justify-content: space-evenly;
      font-family: inherit;
      font-weight: 400;
      font-size: 14px;

      li {
        :first-child {
          font-weight: bold;
          padding-bottom: 4px;
        }
      }
    }

    p {
      margin-top: 2em;
      margin-left: 7%;
      margin-right: 15%;
      font-size: 13px;
      text-align: left;
    }
  }
}
