.modal {
  background-color: white;

  > div:first-child {
    background-color: #fafafa !important;
  }

  .modal_image_container {
    margin: 0;
    object-fit: contain;

    .modal_image {
      object-fit: contain;
      width: 600px;
      padding: 16px 24px 16px 24px;
    }
  }

  aside {
    border-left: 1px solid lightgrey;
    width: 100%;
    .modal_header {
      display: flex;
      align-items: center;
      padding: 12px 0 12px 1.1em;
      border-bottom: 1px solid lightgrey;
      font-size: 12px;

      .modal_avatar {
        margin-right: 10px;
        height: 36px !important;
        width: 36px !important;
      }
    }

    .post_modal_description_container {
      display: flex;
      align-items: center;
      padding: 15px 0 15px 1.1em;
      font-size: 12px;
      .post_modal_description {
        font-weight: normal;
        padding: 0 10px;
      }
    }
  }
}
