.exploreContainer {
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.exploreProfileContainer {
  margin: 0 auto;
  padding-top: 0.5em;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}
