.post {
  border-radius: 3px;
  background-color: white;
  border: 1px solid lightgrey;
  margin-bottom: 4em;
  max-width: 35vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;

  .post_header {
    padding: 5px 0 5px 1.1em;

    a {
      text-decoration: none;
      color: black;
      font-family: inherit;
      display: flex;
      align-items: center;

      h3 {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .post_image_container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    .post_image {
      cursor: pointer;
      width: 35vw;
      object-fit: contain;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      max-height: 35vw;
    }

    .heart {
      fill: #efebeb;
      position: absolute;
      top: 150px;
      font-size: 93px;
      width: 69px;
      animation: pulse 1s ease-in-out;
      margin-bottom: -80px;
      transform: scale(0);
    }

    @keyframes pulse {
      0%,
      to {
        opacity: 0;
        transform: scale(0);
      }
      15% {
        opacity: 0.9;
        transform: scale(1.2);
      }
      30% {
        transform: scale(0.95);
      }
      45%,
      80% {
        opacity: 0.9;
        transform: scale(1);
      }
    }
  }

  .liked_by {
    padding: 0 20px;
  }

  .post_description {
    font-weight: normal;
    padding: 0 20px;
    margin: 20px 0 0;
  }

  .post_avatar {
    margin-right: 10px;
    height: 32px !important;
    width: 32px !important;
  }

  .post_comments {
    padding: 0 20px 0px;
    position: relative;
    // overflow-y: auto;
    // overflow-x: none;
    max-height: 285px;
    overflow-wrap: normal;

    .view_comments_text {
      color: grey;
    }
  }

  .time {
    padding: 0 4px 2px 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: grey;
  }
}

.modal {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;

  > div:first-child {
    background-color: #262626 !important;
  }

  .modal_image_container {
    margin: 0;
    object-fit: contain;
    display: flex;
    max-height: 543px;

    .modal_image {
      object-fit: contain;
      width: 600px;
    }
  }

  aside {
    border-left: 1px solid lightgrey;
    width: 360px;
    .modal_header {
      padding: 12px 0 12px 1.1em;
      border-bottom: 1px solid lightgrey;
      font-size: 12px;
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;

        .modal_avatar {
          margin-right: 10px;
          height: 36px !important;
          width: 36px !important;
        }
      }

      .deleteBtn {
        border: none;
        background: none;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        padding-right:10px;
        color: rgba(var(--d69, 0, 149, 246), 1);
      }
    }

    .post_modal_description_container {
      padding: 15px 0 15px 1.1em;
      font-size: 15px;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;

        .post_modal_description {
          font-weight: normal;
          padding: 0 10px;

          .username {
            margin-right: 7px;
          }
        }

        .modal_avatar {
          height: 36px !important;
          width: 36px !important;
        }
      }
    }

    .modal_comments_form {
      .post_comments {
        margin-bottom: 45px;
        position: relative;
        overflow: auto;
        height: 285px;
        padding: 15px 0 15px 1.1em;
      }
      .time {
        padding: 20px;
        font-size: 14px;
        color: grey;
      }

      .comments_form {
        display: flex;
        border-top: 1px solid lightgrey;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 4px;
        height: 3em;
        align-items: center;

        aside {
          z-index: 1;
          top: 28%;
          left: 66%;
          position: absolute;
        }

        .post_textarea {
          background: 0 0;
          border: 0;
          color: #262626;
          display: flex;
          flex-grow: 1;
          font-size: inherit;
          height: 18px;
          max-height: 80px;
          outline: 0;
          padding: 0 25px;
          resize: none;
        }

        svg {
          fill: #423e3e;
          font-size: 2rem;
        }

        .post_btn {
          border: none;
          background: transparent;
          color: rgba(var(--d69, 0, 149, 246), 1);
          font-size: 17px;
          font-weight: 600;
          outline: none;
        }
      }
    }
  }
}
