.home_page {
  width: 58vw;
  display: flex;
  margin: auto;
  margin-top: -34px;
  justify-content: space-between;
  position: relative;
}

.refresh{
  text-align: center;
  color: lightgray;
  cursor: pointer;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  color: rgb(185, 185, 185);
  max-width: 600px;
}
