.home_page {
  width: 68vw;
  display: flex;
  margin: auto;
  justify-content: space-between;
  position: relative;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  color: rgb(185, 185, 185);
  max-width: 600px;
}
