.mainContainer {
  position: fixed;
  left: 20%;
  display: flex;
  margin-top: 1.5em;
  height: 600px;
  justify-content: center;
}

.mainContainer section{
  display: flex;
  position: relative;
}
.slide-container{
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 39%;
  width: 244px;
}
#loginCarousel {
  margin: 0 0 0 2.7em;
}

.mainContainer form {
  display: flex;
  flex-direction: column;
}
.mainContainer form button {
  color: white;
  width: 110%;
  margin: 5px 0 5px 0;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #0095f6;
  padding: 3px;
  cursor: pointer;
  font-size: 12px;
}

#registerBtn {
  margin: 0;
}

.mainContainer form button:focus {
  outline: none;
}

.mainContainer form input {
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  width: 108%;
  height: 32px;
  margin-bottom: 0.5em;
  background: rgba(var(--b3f,250,250,250),1);
  margin-bottom: 0.5em;
}
.or-container{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  width: 294px
}

.line{
  top: .45em;
  height: 1px;
  background-color: #dbdbdb;
  width: 50%;
}

.or-text{
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  text-transform: uppercase;
  color: #8e8e8e;
}

.facebook-button{
  background:none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  padding-right: 20px !important;
  
}

.facebook-button span{
  color: #385185 !important;
  margin-left: 8px;
}

.text-container{
  margin: 15px 0px 15px 7px;
  width: 294px
}

.account-text{
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  color: #8e8e8e;
}
.mainContainer form {
  text-align: center;
  color: rgb(119, 119, 119);
}

.mainContainer form > div {
  position: relative;
}

.mainContainer form input:focus,
.mainContainer form input:valid {
  outline: none;
}

.mainContainer form input:focus + span,
.mainContainer form input:valid + span {
  transition: 0.3s ease-out;
  top: 1px;
  font-size: 8px;
}

.mainContainer form > div > span {
  font-size: 12px;
  color: rgb(119, 119, 119);
  position: absolute;
  left: 0.5em;
  top: 0.8em;
  pointer-events: none;
}

#boxes > div {
  width: 75%;
  border-radius: 3px;
  padding: 0 3em 1em 2em;
  border: 1px solid lightgrey;
  margin-top: 23m;
  margin-bottom: 5px;
  background-color: white;
}

#boxes {
  display: flex;
  width: 360px;
  flex-direction: column;
  margin: 2em 0 0 -1em;
}
