.app_header {
  position: fixed;
  top: 0px;
  width: 100%;
  color: black;
  background-color: white  ;
  height: 54px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
  z-index: 2;
}
.app_header nav {
  margin: 0 15%;
  max-width: 75%;
  height: 54px;

  display: flex;
  justify-content: center;
}
.app_header ul {
  margin-bottom: 0;
}

.app_header a,
.app_header a:visited {
  color: black;
}

#mainNav,
#linkNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#linkNav {
  justify-content: flex-end;
  margin-right: 4em;
}
#linkNav li {
  margin: 15px 0px 8px 18px;
  font-size: 24px;
}

#logo {
  flex-grow: 2;
  margin: 10px 0 0 4em;
}

#inputNav {
  margin: 1em -2em 0em 2em;
}

#inputNav input {
  border-radius: 3px solid;
  height: 24px;
  width: 210px;
}

#linkNav li:last-child {
  margin-top: -5px;
}

#nav_avatar {
  margin-top: 15px;
  text-decoration: none;
  height: 24px;
  width: 24px;
}
