.comment_container {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  flex-direction: column;
  flex-wrap: wrap;


  .comment_details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;
      .comment_avatar {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
      .comment_username {
        margin-right: 10px;
      }
    }

    > p {
      display: flex;
      flex-direction: column;
      overflow-wrap: anywhere;
      margin-left: 2em;
      margin-right: 1em;
    }
  }

  .time {
    display: inline-block;
    margin-top: 6px;
    font-size: 11px;
    color: grey;
  }
}
