.comments_form {
  position: relative;
  display: flex;
  border-top: 1px solid lightgrey;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  height: 3em;
  align-items: center;

  aside {
    z-index: 1;
    top: -330px;
    left: 8px;
    position: absolute;
  }

  .post_textarea {
    background: 0 0;
    border: 0;
    color: #262626;
    display: flex;
    flex-grow: 1;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0 25px;
    resize: none;
  }

  svg {
    cursor: pointer;
    fill: #423e3e;
    font-size: 2rem;
  }

  .post_btn {
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgba(var(--d69, 0, 149, 246), 1);
    font-size: 17px;
    font-weight: 600;
    outline: none;
  }
}
